@import "tailwindcss";
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* Always show scrollbar */
}

/* Page transition animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-enter {
  animation: fadeIn 0.8s ease-in-out;
}
